*{
  margin: 0;
  padding: 0;
  
}

header{
  height: 80px;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
}
header h3{
  float: left;
  margin: 30px 90px;
}
header p{
  float: right;
  margin: 30px 90px;
}
.clock{
  margin-top: 10px;
}
.clock p{
  padding: 10px;
  
}